{% extends 'base.html.twig' %}

{% block title %}Products index{% endblock %}

{% block body %}
    <h1>Products index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Poids</th>
                <th>Created_at</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.stock }}</td>
                <td>{{ product.poids }}</td>
                <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ product.slug }}</td>
                <td>
                    <a href="{{ path('app_products_controller2_show', {'id': product.id}) }}" class="btn btn-success">show</a>
                    <a href="{{ path('app_products_controller2_edit', {'id': product.id}) }}" class="btn btn-success">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_products_controller2_new') }}">Create new</a>
{% endblock %}
